{% extends 'base/base.html' %}
{% load static %}
{% block title %}主页|监控管理|监控配置{% endblock %}
{% block extrastyle %}
    <link href="{% static 'lou-multi-select/css/multi-select.css' %}" rel="stylesheet">
{% endblock %}


{% block container %}
<div class="row">
  <div class="col-lg-10 col-md-offset-1">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="icon-reorder"></i>监控配置
      </div>
      <div class="widget-content padded">
        <form class="form-horizontal col-md-offset-2" method="post" action="{% url 'monitor:monitor-total-config-update' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-2">全局</label>
                    <div class="col-md-7">
                      <select name='total' class="form-control">
                          {% for monitor in object_list %}
                            {% if monitor.0 == 'monitor' and monitor.1 == '1' %}
                                <option value="1" selected>开启</option>
                                <option value="0">关闭</option>
                            {% elif monitor.0 == 'monitor' and monitor.1 == '0' %}
                                <option value="1" >开启</option>
                                <option value="0" selected>关闭</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">MySQL监控配置</label>
                    <div class="col-md-7">
                      <select name='mysql' class="form-control">
                          {% for monitor in object_list %}
                            {% if monitor.0 == 'monitor_mysql' and monitor.1 == '1' %}
                                    <option value="1" selected>开启</option>
                                    <option value="0">关闭</option>
                            {% elif  monitor.0 == 'monitor_mysql' and monitor.1 == '0' %}
                                <option value="1" >开启</option>
                                <option value="0" selected>关闭</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Oracle监控配置</label>
                    <div class="col-md-7">
                      <select name='oracle' class="form-control">
                          {% for monitor in object_list %}
                            {% if monitor.0 == 'monitor_oracle' and monitor.1 == '1' %}
                                <option value="1" selected>开启</option>
                                <option value="0">关闭</option>
                            {% elif monitor.0 == 'monitor_oracle' and monitor.1 == '0' %}
                                <option value="1" >开启</option>
                                <option value="0" selected>关闭</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Redis监控配置</label>
                    <div class="col-md-7">
                      <select name='redis' class="form-control">
                          {% for monitor in object_list %}
                            {% if monitor.0 == 'monitor_redis' and monitor.1 == '1' %}
                                <option value="1" selected>开启</option>
                                <option value="0">关闭</option>
                            {% elif  monitor.0 == 'monitor_redis' and monitor.1 == '0' %}
                                <option value="1" >开启</option>
                                <option value="0" selected>关闭</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label class="control-label col-md-2">SQL Server监控</label>#}
{#                    <div class="col-md-7">#}
{#                      <select class="form-control" disabled>#}
{#                          {% for monitor in object_list %}#}
{#                            {% if monitor.0 == 'monitor_sqlserver' and monitor.1 == '1' %}#}
{#                                <option value="1" selected>开启</option>#}
{#                                <option value="0">关闭</option>#}
{#                            {% elif monitor.0 == 'monitor_sqlserver' and monitor.1 == '0' %}#}
{#                                <option value="1" >开启</option>#}
{#                                <option value="0" selected>关闭</option>#}
{#                            {% endif %}#}
{#                          {% endfor %}#}
{#                      </select>#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group">
                    <label class="control-label col-md-2">监控频率</label>
                    <div class="col-md-7">
                      <select name='freq' class="form-control">
                          {% for monitor in object_list %}
                                {% if monitor.0 == 'frequency_monitor' and monitor.1 == '30' %}
                                    <option value="30" selected>30秒</option>
                                    <option value="60">1分钟</option>
                                    <option value="90">1分钟30秒</option>
                                    <option value="120">2分钟</option>
                                {% elif monitor.0 == 'frequency_monitor' and monitor.1 == '60' %}
                                    <option value="30">30秒</option>
                                    <option value="60" selected>1分钟</option>
                                    <option value="90">1分钟30秒</option>
                                    <option value="120">2分钟</option>
                                {% elif monitor.0 == 'frequency_monitor' and  monitor.1 == '90' %}
                                    <option value="30">30秒</option>
                                    <option value="60">1分钟</option>
                                    <option value="90" selected>1分钟30秒</option>
                                    <option value="120">2分钟</option>
                                {% elif monitor.0 == 'frequency_monitor' and  monitor.1 == '120'%}
                                    <option value="30">30秒</option>
                                    <option value="60">1分钟</option>
                                    <option value="90">1分钟30秒</option>
                                    <option value="120" selected>2分钟</option>
                                {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-7">
                         <button class="btn btn-white" type="reset">重置</button><button class="btn btn-primary" type="submit" id="report">保存</button>
                    </div>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block jscripts %}
     <!-- Mainly scripts -->

    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/demo/peity-demo.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'lou-multi-select/js/jquery.multi-select.js' %}"></script>
    <script>
       $('#menus-public-methods').multiSelect();
       $('#menus-select-all').click(function(){
          $('#menus-public-methods').multiSelect('select_all');
          return false;
       });
      $('#menus-deselect-all').click(function(){
        $('#menus-public-methods').multiSelect('deselect_all');
        return false;
      });
    </script>

    <script>
       $('#users-public-methods').multiSelect();
       $('#users-select-all').click(function(){
          $('#users-public-methods').multiSelect('select_all');
          return false;
       });
      $('#users-deselect-all').click(function(){
        $('#users-public-methods').multiSelect('deselect_all');
        return false;
      });
    </script>

{% endblock %}